@media (min-width:720px){
    body{
        margin: 25px auto;
        background-color: beige;
        max-width: 720px;
    }
    /*display grid*/
    .display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        border-radius: 25px;
    }
    /*Ajustes no .header*/
    .header{
        border-radius: 25px;
        margin: 0;
    }
    /*Parte do texto*/
    .header p{
        margin: 0 55px;
    }
    .header-porcentagem{
        padding: 35px 40px;
    }
    /*Altura para o Summary*/
    .main{
        padding-top: 25px;
        margin: 0 10%;
    }
}